@charset "UTF-8";

@import "_variables.css";
@import "modules/_header.css";
@import "modules/_blockquote.css";
@import "modules/_headline.css";

html {
    font-size: 75%;
    box-sizing: border-box;
}

@media (min-width: 40em) {
    html {
        font-size: 87.5%;
    }
}
@media (min-width: 50em) {
    html {
        font-size: 93.75%;
    }
}
@media (min-width: 64em) {
    html {
        font-size: 106.25%;
    }
}

/* + Basics */

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    height: auto;
    max-width: 100%
}

body {
    margin: 0;
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-weight: 400;
    font-size: 1.33333rem;
    color: var(--color-body);
}

dd,
li {
    margin-left: var(--space-2);
}

p {
    margin: 0;
    padding-top: var(--space-1);
    margin-bottom: var(--space-2);
    font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;
}

a {
    transition: color .1s,background-color .1s;
    color: var(--color-links);
    text-decoration: none;
}

small {
    font-style: normal;
    font-weight: 200;
    font-size: .88235rem;
}

dl,
ol,
ul {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
    padding-left: 0;
    font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;
}

/* + Styles */

.container {
    margin: 0 auto;
    padding-left: var(--space-2);
    padding-right: var(--space-2);
    width: var(--container-width);
    max-width: 41.66667rem;
}

.module {
    margin-bottom: var(--space-2);
}
