.headline {
  --heading__font-family: var(--font-family);
  --heading__font-weight: 400;

  --heading__line-height: 1.25;

  --heading__size-h1: 2.33333rem;
  --heading__size-h2: 2.08333rem;
  --heading__size-h3: 1.86667rem;

  --heading__size-small: var(--font-size-small);

    font-weight: var(--heading__font-weight);
    line-height: var(--heading__line-height);
    margin-block: var(--space-1);
    font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;

    font-family: var(--heading__font-family);
    font-size-adjust: 0.5;
}

.headline--h1 {
    font-size: var(--heading__size-h1)
}

.headline--h2 {
    font-size: var(--heading__size-h2)
}

.headline--h3 {
    font-size: var(--heading__size-h3)
}

.headline__intro {
    display: block;
    color: var(--color-body--lighten);
    font-family: arial, sans-serif;
    font-size: var(--heading__size-small);
    line-height: 2;
}
