:root {
  --font-family: system-ui, sans-serif;
  --line-height: 1.5;
  --font-weight--bold: bold;
  --font-size-small: .88235rem;

  --color-definition__black: #242424;
  --color-definition__red: #d52836;
  --color-definition__gray--light: #717171;
  --color-body: var(--color-definition__black);
  --color-body--lighten: var(--color-definition__gray--light);
  --color-links: var(--color-definition__red);

  --space-1: .56668rem;
  --space-2: 1.43332rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --container-width: 94%;
}
